/* For smartphones: */
body {
    margin: 0;
}

header {
    height: 80px;
}

#logo {
    margin-left: 50px;
    width: 65px;
    padding-top: 25px;
}

.img_div_yellow {
    background-image: url(img/yellow_background.jpg);
    color: white;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 50px 50px;
}

.img_div_green {
    background-image: url(img/green_background.jpg);
    color: white;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 50px 50px;
}

.img_div_orange {
    background-image: url(img/orange_background.jpg);
    color: white;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 50px 50px;
}

.text_div {
    width: 330px;
}

.white_title {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.title {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.white_card > p {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0px;
}

.orange_button > p {
    font-size: 16px;
}

a {
    color: white;
    text-transform: uppercase;
    font-size: large;
}

.news_card, .white_card > p {
    color: darkgray;
}

h1 {
    text-align: center;
    font-weight: 700;
}

.white_button {
    background-color: white;
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12px;
    margin-top: 15px;

}

.black_button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12px;
    margin-top: 15px;

}

.orange_button {
    background-color: rgb(245, 157, 50);
    border: none;
    color: white;
    padding: 20px 10px;
    text-align: center;
    overflow-wrap: break-word;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 30px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; 
}

.align_left {
    text-align: left;
}

.green_button {
    background-color: rgb(60, 159, 98);
    border: none;
    color: white;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 30px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; 
}

.news_card {
    background-color: white;
    border: none;
    padding: 20px 10px 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 30px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; 
    height: 410px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.white_card {
    background-color: white;
    border: none;
    padding: 20px 20px 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 1000;
    border-radius: 20px;
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#bullet_card {
    background-color: white;
    border: none;
    padding: 15px 15px;
    justify-content: left;
    text-decoration: none;
    overflow-wrap: break-word;
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    border-radius: 12px;
    margin-top: 15px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-left: -35px;
    list-style: none;
    display: table;
  }
  ul li:before {
    content: '\2714\0020';
    display: table-cell;
    text-align: right;
    padding-right: 1em;
  }

li {
    display: table-row;
}

.news_img {
    height: 60%;
    width: 90%;
    object-fit: cover;
    border-radius: 20px;
}

.div_img {
    max-height: 420px;
}

.move_left {
    position: relative;
    right: 120px;
}

.flip {
    transform: scaleX(-1)
}

.icon {
    width: 80px;
    height: 80px;
}

.filter_green {
    filter: invert(56%) sepia(12%) saturate(1918%) hue-rotate(90deg) brightness(92%) contrast(88%)
}

.filter_orange {
    filter: invert(77%) sepia(43%) saturate(3913%) hue-rotate(338deg) brightness(105%) contrast(92%);
}

.img_container {
    width: 100%;
    overflow: hidden;
}

.div_grey {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 50px 50px;
}

.subtitle {
    font-style: italic;
}

/* For desktop */

@media only screen and (min-width: 1400px) {

    #logo {
        margin-left: 380px;
        width: 65px;
        padding-top: 25px;
    }
}