/* For smartphones: */
body {
    margin: 0;
}

header {
    height: 80px;
}

#logo {
    margin-left: 50px;
    width: 65px;
    padding-top: 25px;
}

.img_div_yellow {
    background-image: url(img/yellow_background.jpg);
    color: white;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 0px 0px;
}

.img_div_green {
    background-image: url(img/green_background.jpg);
    color: white;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 0px 0px;
}

.img_div_orange {
    background-image: url(img/orange_background.jpg);
    color: white;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 0px 0px;
}

.text_div {
    width: 330px;
    margin-left: 50px;
}

.white_title {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.title {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.white_card > p {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0px;
}

.orange_button > p {
    font-size: 16px;
}

a {
    color: white;
    text-transform: uppercase;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
}

form > a {
    color:lightskyblue;
    text-decoration: none;

}

.news_card > p {
    color: darkgray;
}

.white_card > p {
    color: darkgray
}

.green_subtitle {
    text-decoration: underline;
    font-size: 18px;
    padding-top: 40px;
    letter-spacing: 5px;
    font-weight: 600;
}

h1 {
    text-align: center;
    font-weight: 700;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

/* 
    molte proprietà di questo bottone sono copincollate 
    prova ad astrarre quelle comuni e creare delle varianti
    singole (es. metodologia BEM).
    ES. .my-button
*/

.my-button {
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12px;
    margin-top: 15px;
    letter-spacing: 3px;
}


.my-button.my-button--white {
    background-color: white;
}
.my-button.my-button--black {
    background-color: black;
    color: white;
}

.white_button {
    background-color: white;
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12px;
    margin-top: 15px;
    letter-spacing: 3px;

}

.black_button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12px;
    margin-top: 15px;
    letter-spacing: 3px;

}

.orange_button {
    background-color: rgb(245, 157, 50);
    border: none;
    color: white;
    padding: 20px 10px;
    text-align: center;
    overflow-wrap: break-word;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 30px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; 
}

.align_left {
    text-align: left;
}

.green_button {
    background-color: rgb(60, 159, 98);
    overflow-wrap: break-word;
    border: none;
    color: white;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; 
}

/* stessa storia dei bottoni. Rifattorizza e astrai le proprietà comuni in un componente generico */

.news_card {
    background-color: white;
    border: none;
    padding: 20px 10px 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 30px;
    width: 357px;
    margin-left: auto;
    margin-right: auto; 
    height: 410px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.white_card {
    background-color: white;
    border: none;
    padding: 20px 20px 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 1000;
    border-radius: 20px;
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.bullet_card {
    color:black;
    background-color: white;
    border: none;
    padding: 15px 15px;
    justify-content: left;
    text-decoration: none;
    overflow-wrap: break-word;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    border-radius: 12px;
    margin-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-left: -35px;
    list-style: none;
    display: table;
  }
  ul li:before {
    content: '\2714\0020';
    display: table-cell;
    text-align: right;
    padding-right: 1em;
  }

li {
    display: table-row;
    font-family: 'Open Sans', sans-serif;
}

.news_img {
    height: 60%;
    width: 90%;
    object-fit: cover;
    border-radius: 20px;
}

.div_img {
    max-height: 420px;
}

.move_left {
    position: relative;
    right: 100px;
}

.icon {
    width: 80px;
    height: 80px;
}

.filter_green {
    filter: invert(56%) sepia(12%) saturate(1918%) hue-rotate(90deg) brightness(92%) contrast(88%)
}

.filter_orange {
    filter: invert(77%) sepia(43%) saturate(3913%) hue-rotate(338deg) brightness(105%) contrast(92%);
}

.img_container {
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
}

.div_grey {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 50px 50px;
}

.div_grey_2 {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 50px 50px;
}

.div_black {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 40px 50px 40px;
}

.subtitle {
    font-style: italic;
}

input {
    background-color: lightgray;
    width: 90%;
    border: none;
    border-radius: 10px;
    min-height: 35px;
    padding-left: 5px;
    
}

label {
    font-size: 16px;
}

#terms {
    height: 15px;
    width: 15px;
    margin-right: 8px;
}

#agree {
    display: flex;
    justify-content: start;
    align-items: center;
}

form {
    text-align: center;
}

label {
    position: relative;
    right: 130px;
}

.check {
    position: relative;
    left: 10px;
}

#terms {
    position: relative;
    left: 12px;
}

textarea {
    background-color: lightgray;
    width: 90%;
    border: none;
    border-radius: 10px;
    min-height: 35px;
    padding-left: 5px;
}

.submit_button{
    text-align: center;
}

.submit_button > .green_button {
    margin-top: 5px;
    width: 95%;
}

.green_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    margin-top: 10px;
}

.contact_form {
    margin-top: 40px;
}

.orange_button_2 {
    background-color: rgb(245, 157, 50);
    border: none;
    color: white;
    padding: 20px 10px;
    text-align: start;
    overflow-wrap: break-word;
    text-decoration: none;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 10px;

}

.right_centered {
    position: relative;
    left: 50px;
}

footer {
    font-size: 20px;
    background-color:rgb(37, 37, 37);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* For desktop */

@media only screen and (min-width: 1400px) {

    #logo {
        margin-left: 380px;
        width: 65px;
        padding-top: 25px;
    }

    .img_div_yellow {
        display: flex;
        height: 800px;
        padding: 0px;
    }

    .img_div_yellow > .img_container {
        order: 1;
    }

    .img_div_yellow > .text_div {
        order: 2;
    }

    .img_container {
        width: 55%;
    }

    .div_img {
        max-height: 800px;
        right: 250px;
        text-align: start;
    }

    .text_div {
        margin-left: 0px;
        margin-top: 160px;
        width: 450px;
    }

    .text_div_2 {
        flex-direction: column;
        width: 35%;
        align-content: start;
        margin-top: auto;
        margin-bottom: auto;
    }

    .white_title {
        color: white;
        font-size: 60px;
    }

    .white_button {
        width: 240px;
    }

    .black_button {
        width: 240px;
    }

    .div_grey {
        display: flex;
        height: 600px;
        padding: 20px 150px 50px 150px;
    }

    .div_grey > .text_div {
        width: 320px;
    }

    .title {
        font-size: 36px;
    }

    .div_grey > .green_button, .orange_button {
        width: 320px;
        height: 240px;
    }

    .div_grey > .orange_button {
        position: relative;
        top: 100px;
    }

    .div_grey > .green_button {
        position: relative;
        top: 250px;
    }

    .img_div_green {
        display: flex;
        height: 800px;
        padding: 0;
        justify-content: end;
    }

    .img_div_green > .img_container {
        height: 800px;
        position: relative;
        bottom: 40px;
    }

    .news_div{
        display: block;
        height: auto;
    }
    
    #news_title {
        font-size: 66px;
        text-align: center;
    }

    .news_container {
        display: flex;
        flex-wrap: wrap;
    }

    .news_card {
        width: 30%;
    }

    .img_div_orange {
        display: flex;
        height: 800px;
        padding: 0px;
    }

    .img_div_orange > .img_container {
        order: 1;
    }

    .img_div_orange> .text_div {
        order: 2;
    }

    .coaching_div {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .orange_button_2 {
        background-color: rgb(245, 157, 50);
        border: none;
        color: white;
        padding: 20px 10px;
        text-align: start;
        overflow-wrap: break-word;
        text-decoration: none;
        font-weight: 700;
        border-radius: 20px;
        margin-top: 30px;
        width: 330px;
        height: 460px;

    }

    .orange_button_2 > p {
        font-size: 16px;
    }

    .coaching_div > .green_button, .orange_button_2, .bullet_card {
        height: 460px;
        box-sizing: content-box;
        padding: 30px;
        margin-top: auto;
        margin-bottom: auto;
        text-align: start;
    }

    .coaching_div > .green_button, .orange_button_2 {
        width: 300px;
    }


    .bullet_card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        text-align: start;
        max-width: 460px;
    }

    li {
        font-size: 20px;
    }

    .div_grey_2 {
        background-color: lightgray;
        display: flex;
        height: 600px;
        justify-content: center;
    }

    .stats_cards {
        display: flex;
        flex-wrap: wrap;
    }

    .stats_cards > .white_card {
        width: 20%;
        height: auto;
    }

    .card_number {
        font-size: 48px;
        margin-bottom: 10px;
    }

    .white_card > p {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 30px;
    }

    .div_black {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .contact_info {
        width: 40%;
        text-align: start;
    }

    .contact_form {
        width:40%;
    }

    .contact_info > h1 {
        font-size: 48px ;
        text-align: start;
        font-weight: 900;
    }

    .contact_form > .bullet_card {
        padding-bottom: 60px;
    }
    
    form {
        width: 90%;
        text-align: center;
    }

    #agree {
        position: relative;
        left: 5px
    }



    .submit_button {
        width: 95%;
        position: relative;
        right: 10px;
    }

    .submit_button > .green_button {
        width: 100%;
        position: relative;
        left: 20px;
    }

    label {
        position: relative;
        right: 165px;
    }
}