/* For smartphones: */

/* Global rules */

body {
    margin: 0;
}

header {
    height: 80px;
}

h1 {
    text-align: center;
    font-weight: 700;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

a {
    color: white;
    text-transform: uppercase;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin-left: -35px;
    list-style: none;
    display: table;
}

ul li:before {
    content: '\2714\0020';
    display: table-cell;
    text-align: right;
    padding-right: 1em;
}

li {
    display: table-row;
    font-family: 'Open Sans', sans-serif;
    text-align: start;
}

input {
    background-color: lightgray;
    width: 90%;
    border: none;
    border-radius: 10px;
    min-height: 35px;
    padding-left: 5px;
    margin-bottom: 10px;

}

label {
    font-size: 16px;
    position: relative;
    right: 130px;
    bottom: 5px;
}

form {
    text-align: center;
}

textarea {
    background-color: lightgray;
    width: 90%;
    border: none;
    border-radius: 10px;
    min-height: 35px;
    padding-left: 5px;
}

footer {
    font-size: 20px;
    background-color: rgb(37, 37, 37);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    margin-left: 50px;
    width: 65px;
    padding-top: 25px;
}

/* Reusable/common components */

.img_container {
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
}

.div_img {
    max-height: 420px;
}

.my-button {
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12px;
    margin-top: 15px;
    letter-spacing: 3px;
}

.my_card {
    overflow-wrap: break-word;
    border: none;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 30px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Section 1 - Introduction */

.yellow_background {
    background-image: url(img/yellow_background.jpg);
    color: white;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 0px 0px;
}

.article {
    width: 330px;
    margin-left: 50px;
}

.white_title {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.my-button.my-button--white {
    background-color: white;
}

.move_left {
    position: relative;
    right: 100px;
}

/* Section 2 - Science of Happiness*/

.grey_background {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 50px 50px;
}

.title {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.subtitle {
    font-style: italic;
}

.my-button.my-button--black {
    background-color: black;
    color: white;
}

.my_card.my_card--orange {
    background-color: rgb(245, 157, 50);
    color: white;
}

.my_card.my_card--orange>p {
    font-size: 16px;
}

.my_card.my_card--green {
    background-color: rgb(60, 159, 98);
    color: white;
}

/* Section 3  - 7 Ways To Be Happy*/

.green_background {
    background-image: url(img/green_background.jpg);
    color: white;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 0px 0px;
}

/* Section 4 - News*/

.news_div {
    display: block;
    height: auto;
}

#news_title {
    font-size: 66px;
    text-align: center;
}

.news_container {
    display: flex;
    flex-wrap: wrap;
}

.my_card.my_card--news {
    background-color: white;
    padding: 20px 10px 0px 10px;
    width: 357px;
    height: 410px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.my_card.my_card--news>p {
    color: darkgray;
}

.news_img {
    height: 60%;
    width: 90%;
    object-fit: cover;
    border-radius: 20px;
}

/* Section 5 - Happy Tips*/

.orange_background {
    background-image: url(img/orange_background.jpg);
    color: white;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 50px 0px 0px;
}

/* Section 6 - Benefits of Coaching */

.title_coaching {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    margin-top: 10px;
}

.subtitle_coaching {
    text-decoration: underline;
    font-size: 18px;
    padding-top: 40px;
    letter-spacing: 5px;
    font-weight: 600;
}

.my_card.my_card--list {
    background-color: white;
    padding: 15px 15px;
    justify-content: left;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    border-radius: 12px;
    margin-top: 15px;
    width: 90%;
}

.align_left {
    text-align: start;
}

/* Section 8 - Happiness and Mindfulness*/

.stats_cards {
    display: flex;
    flex-wrap: wrap;
}

.my_card.my_card--stat {
    background-color: white;
    border: none;
    padding: 20px 20px 5px 20px;
    font-weight: 1000;
    width: 80%;
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.my_card.my_card--stat>p {
    color: darkgray;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0px;
}

.icon {
    width: 80px;
    height: 80px;
}

.filter_green {
    filter: invert(56%) sepia(12%) saturate(1918%) hue-rotate(90deg) brightness(92%) contrast(88%)
}

.filter_orange {
    filter: invert(77%) sepia(43%) saturate(3913%) hue-rotate(338deg) brightness(105%) contrast(92%);
}

/* Section 9 - Form */

.black_background {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 25px 40px 50px 40px;
}

.contact_form {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.my_card.my_card--form {
    background-color: white;
    color: black;
    min-width: 90%;
    max-width: 500px;

}

#agree {
    display: flex;
    justify-content: start;
    align-items: center;
}

#terms {
    height: 15px;
    width: 15px;
    margin-right: 8px;
    position: relative;
    left: 12px;
}

.check {
    position: relative;
    left: 10px;
}

label>a {
    color: rgb(0, 157, 255);
    text-transform: none;
    text-decoration: underline;
    font-size: 16px;
}

.submit_button {
    text-align: center;
}

.submit_button>.my_card.my_card--green {
    margin-top: 5px;
    width: 95%;
}

/*///////////////////////////////////////////////////////////////////////////////////////*/
/* For desktop */

@media only screen and (min-width: 1400px) {

    /* Global rules */

    li {
        font-size: 20px;
    }

    form {
        width: 100%;
        text-align: center;
    }

    label {
        position: relative;
        right: 270px;
    }

    #logo {
        margin-left: 380px;
        width: 65px;
        padding-top: 25px;
    }

    /* Reusable/common components */

    .img_container {
        width: 55%;
    }

    .div_img {
        max-height: 800px;
        right: 250px;
        text-align: start;
    }

    /* Section 1 - Introduction */

    .yellow_background {
        display: flex;
        height: 800px;
        padding: 0px;
    }

    .article {
        margin-left: 0px;
        margin-top: 160px;
        width: 450px;
    }

    .white_title {
        font-size: 60px;
    }

    .yellow_background>.img_container {
        order: 1;
    }

    .yellow_background>.article {
        order: 2;
    }

    .my-button.my-button--white {
        width: 240px;
    }

    /* Section 2 - Science of Happiness*/

    .grey_background {
        display: flex;
        height: 600px;
        padding: 20px 150px 50px 150px;
    }

    .article_column {
        flex-direction: column;
        width: 35%;
        align-content: start;
        margin-top: auto;
        margin-bottom: auto;
    }

    .title {
        font-size: 36px;
    }

    .my-button.my-button--black {
        width: 240px;
    }

    .grey_background>.my_card.my_card--green,
    .my_card.my_card--orange {
        width: 320px;
        height: 240px;
    }

    .grey_background>.my_card.my_card--orange {
        position: relative;
        top: 100px;
    }

    .grey_background>.my_card.my_card--green {
        position: relative;
        top: 250px;
    }

    /* Section 3  - 7 Ways To Be Happy*/

    .green_background {
        display: flex;
        height: 800px;
        padding: 0;
        justify-content: end;
    }

    .green_background>.img_container {
        height: 800px;
        position: relative;
        bottom: 40px;
    }

    /* Section 4 - News*/

    .news_div {
        display: block;
        height: auto;
    }

    .my_card.my_card--news {
        width: 30%;
    }

    /* Section 5 - Happy Tips*/

    .orange_background {
        display: flex;
        height: 800px;
        padding: 0px;
    }

    .orange_background>.img_container {
        order: 1;
    }

    .orange_background>.article {
        order: 2;
    }

    /* Section 6 - Benefits of Coaching */

    .grey_background.grey_background--xxl {
        display: flex;
        height: 600px;
        justify-content: center;
    }

    .flex_center-xxl {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .flex_center-xxl>.my_card.my_card--green,
    .my_card.my_card--orange,
    .my_card.my_card--list {
        height: 460px;
        box-sizing: content-box;
        padding: 30px;
        margin-top: auto;
        margin-bottom: auto;
        text-align: start;
    }

    .flex_center-xxl>.my_card.my_card--green,
    .my_card.my_card--orange_2 {
        width: 300px;
    }

    .my_card.my_card--orange>p {
        padding-top: 30px;
    }

    .my_card.my_card--list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        text-align: start;
        max-width: 460px;
    }

    /* Section 8 - Happiness and Mindfulness*/

    .stats_cards>.my_card.my_card--stat {
        width: 20%;
        height: auto;
    }

    .card_number {
        font-size: 48px;
        margin-bottom: 10px;
    }

    .my_card.my_card--stat>p {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 30px;
    }

    /* Section 9 - Form */

    .black_background {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .contact_info {
        width: 40%;
        text-align: start;
    }

    .contact_form {
        width: 40%;
    }

    .contact_info>h1 {
        font-size: 48px;
        text-align: start;
        font-weight: 900;
    }

    .contact_form>.my_card.my_card--form {
        padding-bottom: 60px;
    }

    #agree {
        position: relative;
        left: 13px
    }

    .submit_button {
        width: 95%;
        position: relative;
        right: 10px;
    }

    .submit_button>.my_card.my_card--green {
        width: 100%;
        position: relative;
        left: 28px;
    }

}